/* line 12, ../styles/_basics.scss */
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

/* line 20, ../styles/_basics.scss */
* {
  box-sizing: border-box;
}

/* line 24, ../styles/_basics.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
}

/* line 31, ../styles/_basics.scss */
.admin {
  font-family: monospace;
}

/* line 35, ../styles/_basics.scss */
a {
  color: #eb690b;
  text-decoration: none;
}
/* line 38, ../styles/_basics.scss */
a:hover:not(.button) {
  color: #bc5409;
}

/* line 43, ../styles/_basics.scss */
.expand {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 0.3em;
}
@media (min-width: 769px) {
  /* line 43, ../styles/_basics.scss */
  .expand {
    width: auto;
  }
  /* line 50, ../styles/_basics.scss */
  .expand.l-50 {
    min-width: 50%;
  }
}

/* line 56, ../styles/_basics.scss */
button, .button {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 5px;
  color: white;
  background: #eb690b;
  border-radius: 4px;
  border-width: 0;
  outline-width: 0;
  font-size: 1em;
}
/* line 66, ../styles/_basics.scss */
button.secondary, .button.secondary {
  background: #999999;
}
/* line 69, ../styles/_basics.scss */
button.alert, .button.alert {
  background: #dd1111;
}
/* line 72, ../styles/_basics.scss */
button:hover, .button:hover {
  box-shadow: 0 0 8px -3px black inset;
}
/* line 75, ../styles/_basics.scss */
button:active, .button:active {
  transform: scale(0.9);
}
/* line 78, ../styles/_basics.scss */
button.small, .button.small {
  padding: 4px 6px;
  font-size: 0.7em;
}

/* line 84, ../styles/_basics.scss */
input[type=text], input[type=password], input[type=email] {
  outline: none;
  border-radius: 4px;
  border: 1px solid #999;
  font-size: 1em;
  padding: 5px;
  margin-bottom: 5px;
}
/* line 91, ../styles/_basics.scss */
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  box-shadow: 0 0 10px -5px black inset;
}

/* line 95, ../styles/_basics.scss */
textarea {
  outline: none;
  border-radius: 4px;
  border: 1px solid #999;
  resize: vertical;
  font-size: 1em;
  padding: 10px;
  margin-bottom: 5px;
}
/* line 103, ../styles/_basics.scss */
textarea:focus {
  box-shadow: 0 0 20px -5px black inset;
}

/* line 108, ../styles/_basics.scss */
select {
  margin-bottom: 5px;
}

/* line 112, ../styles/_basics.scss */
.copyright {
  padding: 2em 0 1em 0;
  text-align: center;
  clear: both;
  font-size: 0.8em;
}

/* line 120, ../styles/_basics.scss */
pre {
  font-size: 80%;
}

/* line 123, ../styles/_basics.scss */
pre.inline {
  display: inline-block;
  font-family: monospace;
  font-size: 70%;
  color: grey;
}

/* line 131, ../styles/_basics.scss */
.topbar {
  width: 100%;
  background: #eb690b;
}
/* line 134, ../styles/_basics.scss */
.topbar h1 {
  margin-top: 0;
  padding: 15px 0 0 15px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
}
/* line 141, ../styles/_basics.scss */
.topbar h1 a {
  color: white;
  transition: transform 0.5s cubic-bezier(0.5, 0.04, 0.9, 0.335);
  display: inline-block;
}
/* line 145, ../styles/_basics.scss */
.topbar h1 a:hover {
  transform: rotate(363deg) scale(1.3);
  color: white;
}
/* line 151, ../styles/_basics.scss */
.topbar ul {
  display: block;
  float: none;
  padding: 0;
}
/* line 153, ../styles/_basics.scss */
.topbar ul.visible {
  display: block;
}
/* line 158, ../styles/_basics.scss */
.topbar ul.right {
  display: none;
}
/* line 160, ../styles/_basics.scss */
.topbar ul.right.visible {
  display: block;
}
@media (min-width: 769px) {
  /* line 151, ../styles/_basics.scss */
  .topbar ul {
    display: inline-block;
  }
  /* line 165, ../styles/_basics.scss */
  .topbar ul.left {
    float: left;
    margin-left: 15px;
  }
  /* line 169, ../styles/_basics.scss */
  .topbar ul.right {
    float: right;
    margin-right: 15px;
  }
  /* line 173, ../styles/_basics.scss */
  .topbar ul.visible, .topbar ul:not(.visible) {
    display: inline-block;
  }
}
/* line 178, ../styles/_basics.scss */
.topbar ul li {
  display: block;
}
@media (min-width: 769px) {
  /* line 178, ../styles/_basics.scss */
  .topbar ul li {
    display: inline-block;
  }
}
/* line 183, ../styles/_basics.scss */
.topbar ul li a:not(.button) {
  display: block;
  color: white;
  padding: 0.7em;
  border-radius: 4px;
}
/* line 188, ../styles/_basics.scss */
.topbar ul li a:not(.button):hover {
  background: rgba(1, 1, 1, 0.1);
}
/* line 191, ../styles/_basics.scss */
.topbar ul li a:not(.button):active {
  background: rgba(1, 1, 1, 0.15);
}
/* line 194, ../styles/_basics.scss */
.topbar ul li a:not(.button) b {
  position: relative;
  top: -2px;
  display: inline-block;
  margin-left: 0.5em;
  color: white;
  font-weight: 900;
  border-radius: 50%;
  background-color: red;
  border: 2px solid white;
  padding: 0.3em 0 0.4em 0;
  text-align: center;
  width: 2.2em;
  height: 2.2em;
  font-size: 0.7em;
}
/* line 212, ../styles/_basics.scss */
.topbar ul li button {
  width: 100%;
}
@media (min-width: 769px) {
  /* line 212, ../styles/_basics.scss */
  .topbar ul li button {
    width: auto;
  }
}
/* line 218, ../styles/_basics.scss */
.topbar ul li#menuToggle {
  text-align: center;
  font-weight: 900;
}
@media (min-width: 769px) {
  /* line 218, ../styles/_basics.scss */
  .topbar ul li#menuToggle {
    display: none;
  }
}

/* line 231, ../styles/_basics.scss */
.main-container {
  padding-top: 1em;
  max-width: 1100px;
  padding: 0 20px;
}
@media (min-width: 769px) {
  /* line 231, ../styles/_basics.scss */
  .main-container {
    margin: 0 auto;
  }
}

/* line 241, ../styles/_basics.scss */
ul.nice-list {
  list-style: decimal;
}
/* line 243, ../styles/_basics.scss */
ul.nice-list li {
  border-bottom: 1px solid #ddd;
}
/* line 245, ../styles/_basics.scss */
ul.nice-list li:last-child {
  border-bottom: none;
}
/* line 248, ../styles/_basics.scss */
ul.nice-list li a.listlink {
  padding: 15px;
  display: block;
}
/* line 251, ../styles/_basics.scss */
ul.nice-list li a.listlink:hover {
  box-shadow: 0 0 110px -40px black inset;
}

/* line 1, ../styles/_index.scss */
fieldset.login-container {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  border: 2px dotted #ddd;
  border-radius: 15px;
}
@media (min-width: 769px) {
  /* line 1, ../styles/_index.scss */
  fieldset.login-container {
    max-width: 20em;
  }
}
/* line 10, ../styles/_index.scss */
fieldset.login-container legend {
  font-weight: 100;
  font-size: 2em;
}
/* line 14, ../styles/_index.scss */
fieldset.login-container input {
  margin-bottom: 0.5em;
  width: 100%;
}
/* line 18, ../styles/_index.scss */
fieldset.login-container.login-error {
  border: 2px dotted red;
}
/* line 20, ../styles/_index.scss */
fieldset.login-container.login-error input {
  border: 1px solid red;
}

/* line 1, ../styles/_profile.scss */
.person-info {
  float: left;
  border: 1px solid #666;
  padding: 20px;
  background: #ddd;
  width: 100%;
  text-align: center;
}
@media (min-width: 769px) {
  /* line 1, ../styles/_profile.scss */
  .person-info {
    width: 33%;
  }
}
/* line 11, ../styles/_profile.scss */
.person-info img {
  border-radius: 4px;
  width: 95%;
  max-width: 200px;
}
@media (min-width: 769px) {
  /* line 11, ../styles/_profile.scss */
  .person-info img {
    border-radius: 50%;
    max-width: none;
    transition: all 0.2s;
  }
  /* line 19, ../styles/_profile.scss */
  .person-info img:hover {
    box-shadow: 0 0 15px 0px black;
    border-radius: 4px;
  }
}
/* line 25, ../styles/_profile.scss */
.person-info dl {
  text-align: left;
}
/* line 27, ../styles/_profile.scss */
.person-info dl dt {
  font-weight: 700;
}
/* line 30, ../styles/_profile.scss */
.person-info dl dd {
  font-size: 1.2em;
}

/* line 37, ../styles/_profile.scss */
.profile.container {
  float: right;
  width: 100%;
}
@media (min-width: 769px) {
  /* line 37, ../styles/_profile.scss */
  .profile.container {
    width: 64%;
  }
}

/* line 45, ../styles/_profile.scss */
.comment {
  padding: 20px 0;
  border-bottom: 2px solid #aaa;
  text-align: right;
}
/* line 49, ../styles/_profile.scss */
.comment span {
  font-size: 0.8em;
}
/* line 52, ../styles/_profile.scss */
.comment blockquote {
  width: 100%;
  text-align: left;
  border-left: 10px solid #bbb;
  padding-left: 4px;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: 0;
}
/* line 62, ../styles/_profile.scss */
.comment p {
  font-weight: 700;
  font-size: 0.8em;
}

/* line 68, ../styles/_profile.scss */
.new-comment {
  padding: 20px 0;
}
/* line 70, ../styles/_profile.scss */
.new-comment textarea {
  width: 100%;
  height: 6em;
}

/* line 1, ../styles/_home.scss */
ul.news > li {
  border-bottom: 1px solid #ddd;
}
/* line 3, ../styles/_home.scss */
ul.news > li:last-child {
  border-bottom: none;
}
/* line 6, ../styles/_home.scss */
ul.news > li small {
  font-weight: 300;
}
/* line 9, ../styles/_home.scss */
ul.news > li h4 {
  margin-top: 0.7em;
  margin-bottom: 0.3em;
}

/* line 3, ../styles/_survey.scss */
.nice-list.survey li.selected a.listlink {
  background: #66dd33;
  color: white;
  pointer-events: none;
}

/* line 11, ../styles/_survey.scss */
.chart {
  height: 60px;
  width: 100%;
}
/* line 14, ../styles/_survey.scss */
.chart span {
  display: block;
  float: left;
  height: 100%;
  overflow: hidden;
  text-shadow: 0px 0px 1px black;
  color: white;
  text-align: center;
  padding-top: 2em;
  font-size: 0.7em;
}
/* line 24, ../styles/_survey.scss */
.chart span p {
  margin: 0;
}

/* line 10, ../styles/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
